<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-sqlite-triggers"
        version="1.0.0">

    <name>SQLiteTriggers</name>
    <description>Automatic SQLite trigger initialization</description>

    <dependency id="cordova-sqlite-storage" version="^6.0.0" />

    <js-module src="www/sqliteTriggers.js" name="SQLiteTriggers">
        <clobbers target="sqliteTriggers" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SQLiteTriggers">
                <param name="android-package" value="com.example.SQLiteTriggers" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/SQLiteTriggers.java" target-dir="src/com/example" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SQLiteTriggers">
                <param name="ios-package" value="SQLiteTriggers" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/ios/SQLiteTriggers.m" />
    </platform>
</plugin>
